vendor/
composer.phar
composer.lock
.phpunit.result.cache
.phpunit.cache/
.php_cs.cache
.php-cs-fixer.cache

.DS_Store
.idea/
.phpstorm.meta.php
_ide_helper.php

data/

node_modules
mix-manifest.json
yarn-error.log
