vendor/
composer.phar
composer.lock

.DS_Store
.idea/
.phpstorm.meta.php
_ide_helper.php

data/

node_modules
mix-manifest.json
yarn-error.log

docs/src/storage
docs/src/cache/*
!docs/src/cache/.gitkeep
docs/src/bootstrap/cache/*
!docs/src/bootstrap/cache/.gitkeep
