@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

@tailwind base;

h1 {
	@apply .mt-0 .mb-4 .font-semibold .text-gray-900 .text-lg;
}

h2 {
	@apply .mt-4 .mb-4 .font-semibold .text-gray-900 .text-base;
}

h3 {
	@apply .mt-4 .mb-4 .font-semibold .text-gray-600 .text-base;
}

p {
	@apply .mb-6 .text-base .leading-normal;
}

a {
	@apply text-salmon no-underline;
}

a:hover, a:active {
	@apply underline;
}

:not(pre) > code {
	@apply .bg-gray-200 .text-salmon .inline-block .px-1 .py-px .mx-1 .text-sm .rounded-sm .shadow;
}

pre {
	@apply .bg-gray-100 .border .border-gray-400 .rounded .p-6 .my-8;
}

@tailwind components;
@tailwind utilities;

@responsive {
	.columns-1 {
		column-count: 1;
	}
	.columns-2 {
		column-count: 2;
	}
	.columns-3 {
		column-count: 3;
	}
	.columns-4 {
		column-count: 4;
	}
	.column-gap-12 {
		column-gap: theme('spacing.12');
	}
}

code,
pre {
	font-family: "Fira Code",Consolas,Monaco,"Andale Mono",monospace;
	font-feature-settings: "calt" 1;
	font-variant-ligatures: contextual;
	text-rendering: optimizeLegibility;
}

code[class*=language-],
pre[class*=language-] {
	color: #000;
	text-shadow: 0 1px #fff;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none
}

pre > code {
	line-height: 1.7;
	font-size: 14px;
}

code[class*=language-]::-moz-selection,code[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc
}

code[class*=language-]::selection,code[class*=language-] ::selection,pre[class*=language-]::selection,pre[class*=language-] ::selection {
	text-shadow: none;
	background: #b3d4fc
}

@media print {
	code[class*=language-],pre[class*=language-] {
		text-shadow: none
	}
}

pre[class*=language-] {
	overflow: auto
}

.token.cdata,.token.comment,.token.doctype,.token.prolog,.token.punctuation {
	color: #999
}

.namespace {
	opacity: .7
}

.token.attr-name,.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.scope,.token.symbol,.token.tag {
	color: #da564a
}

.token.builtin,.token.char,.token.inserted,.token.selector,.token.string {
	color: #2e7d32
}

.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url {
	color: #555
}

.token.atrule,.token.attr-value,.token.keyword {
	color: #07a
}

.token.function {
	color: #555
}

.token.important,.token.regex,.token.variable {
	color: #4ea1df
}

.token.bold,.token.important {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}
