name: PHPUnit

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  php-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [7.4, 7.3, 7.2]
        laravel: [^7.0, ^6.0, ~5.8.28]
        dependency-version: [lowest, stable]
        include:
          - laravel: ^7.0
            testbench: ^5.0
            minimum-stability: dev
            coverage: none
          - laravel: ^6.0
            testbench: ^4.0
            minimum-stability: stable
            coverage: pcov
          - laravel: ~5.8.28
            testbench: ~3.8.0
            minimum-stability: stable
            coverage: none

    name: "${{ matrix.php }} / ${{ matrix.laravel }} (${{ matrix.dependency-version }})"

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
          extension-csv: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: ${{ matrix.coverage }}

      - name: Set minimum stability
        run: composer config minimum-stability ${{ matrix.minimum-stability }}

      # This is only necessary until we move docs to its own repo
      - name: Remove docs-only packages for tests
        run: composer remove --dev glhd/aire-tailwind-custom-forms glhd/aire-bootstrap

      # Remove after a few weeks
      - if: matrix.laravel == '^7.0'
        name: Remove not-yet-upgraded packages
        run: composer remove --dev bensampo/laravel-enum

      - name: Install dependencies
        run: composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update

      - name: Set dependency version
        run: composer update --prefer-${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests with coverage
        run: vendor/bin/phpunit --coverage-clover ~/clover.xml

      - if: matrix.coverage == 'pcov'
        name: Publish code coverage
        uses: paambaati/codeclimate-action@v2.4.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: echo "ok"
          coverageLocations:
            "${{github.workspace}}/clover.xml:clover"
